:root {
    --bg-principal: #1a0a37;
    --texto-principal: #F5F5F7;
    --cor-destaque: #833da8;
    --cor-subtitulo: #d9c0f9;
    
    --fonte-principal: "Saira Semi Condensed", sans-serif;
    --fonte-titulo: "Nabla", system-ui;
    --fonte--titulo2:50px;

    --tamanho-titulo: 100px;
    --tamanho-subtitulo: 60px;
    --tamanho-texto: 16px;
    --tamanho-titulo2: 80px;

    --tamanho-card: 300px;
    --cor-card: #2a1a4d;
    --border-radius-card: 8px;
    --border-radius-img: 8px 12px 8px 12px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    color: var(--texto-principal);
    font-family: var(--fonte-titulo);
    font-optical-sizing: auto;
    font-size: var(--tamanho-titulo);
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
    text-wrap: balance
}

h2 {
    color: var(--cor-subtitulo);
    margin-top: 40px;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    text-wrap: balance
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.card:hover img{
    opacity: 0.8;
    scale: 1.05;
}
.card-container {
    display: flex;
}
.card {
    width: 300px; 
    padding: 15px;
    overflow: hidden;
    animation: viewanimation 0.10s ease-in-out;
    animation-timeline: view(90% 20%);
}
@keyframes viewanimation {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
to {
        opacity: 1;
        transform: scale(1);
}
}
img {
    width: 95%; 
    border-radius: 8px 12px 8px 12px;
}
h4, h3 {
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 200;
    font-style: normal;
    color: var(--texto-principal);
    text-wrap: balance
}
ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
    justify-content: center;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    text-wrap: balance
}

p {
    font-family: var(--fonte-principal) ;
    font-weight: 400;
    font-style: normal;
    color: var(--texto-principal);
    text-wrap: balance;
}

.titulo-novidades, .titulo-destaques, .titulo-minhas-compras{
    text-align: center;
    font-size: 60px;
    color: var(--texto-principal);
    font-family: var(--fonte-titulo) ;
}   

body {
    font-family: var(--fonte-principal);
    color: var(--texto-principal);
    text-wrap: balance;
    background-color: var(--bg-principal);
}

a {
    text-decoration: none;
    color: var(--cor-destaque);
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor-destaque);
    color: var(--texto-principal);
    border-radius: 20px;  
}
span {
    text-decoration: line-through;
}

h1.titulo-proposta {
    font-family: var(--fonte-principal);
    color: var(var(--texto-principal));
    font-size: var(--tamanho-titulo2);
    font-weight: 400;
    margin-bottom: 20px;
}
body.corpo2 {
    font-family: var(--fonte-principal);
    background-color: var(--bg-principal);
    color: var(--texto-principal);
    font-size: var(--tamanho-texto);
}
h1.titulo2 {
    font-size: var(--fonte--titulo2);
}